<% if current_user.try(:role?) %>

<% if notice %>
  <p class="alert alert-success fade in" align="center"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert alert-danger fade in" align="center"><%= alert %></p>
<% end %>

<%= render 'form', student: @student %>
<hr>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <!-- <th>ID</th> -->
      <th>學號</th>
      <th>年級</th>
      <th>系所</th>
      <th>已過的時間</th>
      <th>登記投票時間</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <!-- <td><%= student.id %></td> -->
        <td><%= student.stu_id %></td>
        <td><%= student.stu_class %></td>
        <td><%= student.stu_year %></td>
        <td><%= time_ago_in_words(student.created_at) %></td>
        <td><%= I18n.l( student.created_at, :format => :long ) %></td>
        <!-- <%= link_to '編輯', edit_student_path(student), class: 'btn btn-sm btn-info'%> -->
        <td><%= link_to '刪除', student, method: :delete, class: 'btn btn-sm btn-danger', data: { confirm: 'Are you sure?' }, :remote => true %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @students %>

<% else %>
  <div style="padding:200px" align="center">
    <h1>請等待管理員審核</h1>
    <hr>
    <p>此系統因為涉及投票所登記之學號資訊，涉及選舉公開的法律問題，故不能隨意公開投票登記資訊</p>
  </div>
<% end %>
